
.corpo{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f5f5f5;
}
.log {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  margin-top: -150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
form {
  width: 100%;
}
label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
#usr, #psw, #name, #surname, #date, #email {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}
button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}
button:hover {
  background-color: #0069d9;
}

