
.corpo{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f5f5f5;
}
.corpo .log {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  margin-top: -150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.corpo form {
  width: 100%;
}
.corpo label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
#usr, #psw, #name, #surname, #date, #email {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}
.btt {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  height: 5vh;
  width: 10vh;
}
.corpo button:hover {
  background-color: #0069d9;
}

.password-container {
  position: relative;
  display: flex;
}

.toggle-password{
  width: 5vh;
  height: 4vh;
  cursor: pointer;
}

.toggle-password img {
  width: 30px;
  height: 30px;
}
