.dash-container {
  width: 60vw;
  margin: 60px auto 100px;
  display: grid;
  grid-template-areas:
    "profile profile"
    "calendar note"
    "task timer"
    "logout logout";
  grid-template-columns: 50% 50%;
  gap: 40px;
}

#dash-profile {
  grid-area: profile;
  height: fit-content;
}

#dash-calendar { grid-area: calendar; }

#dash-note { grid-area: note; }

#dash-task { grid-area: task; }

#dash-tomato { grid-area: timer; }

#dash-logout {
  grid-area: logout;
  height: fit-content;
}

.dash-card {
  height: 25vw;
  padding: 25px 50px;
  border-radius: 15px;
  box-shadow: 3px 4px 8px 3px rgba(0,0,0,0.2);
  transition: box-shadow 0.4s ease;
}

.dash-card:hover {
  box-shadow: 3px 4px 8px 3px rgba(255, 0, 0, 0.4);
  cursor: pointer;
}

.dash-card-header {
  display: flex;
  align-items: center;
  gap: 40px;
}

.dash-icon {
  width: 60px;
  height: 60px;
  object-fit: cover; /* per mantenere le proporzioni */
}

#dash-profile .dash-icon {
  width: 110px;
  height: 110px;
  border-radius: 50%;
}

.dash-card-header h2 {
  margin: 10px 0 4px;
}

.dash-card-preview {
  height: 80%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}

/* se contiene lo span del 'nessun elemento' */
.dash-card-preview:has(span.dash-empty-prev) {
  text-align: center;
  color: #444444;
}

.dash-card-preview time {
  font-size: 0.9em;
}

#dash-profile p:last-of-type {
  color: #666666;
}

.dash-note {
  border: 1px solid blue;
}

.dash-task {
  max-height: 30%;
  padding: 5px 20px;
  border-radius: 20px;
  background-color: #b2ffc5;
}

.task-late {
  background-color: #FF6F61;
}