.dash-container {
  width: 60vw;
  margin: 60px auto 100px;
  display: grid;
  grid-template-areas:
    "profile profile"
    "calendar note"
    "task timer"
    "logout logout";
  grid-template-columns: 50% 50%;
  gap: 40px;
}

#dash-profile {
  grid-area: profile;
  height: fit-content;
}

#dash-calendar { grid-area: calendar; }

#dash-note { grid-area: note; }

#dash-task { grid-area: task; }

#dash-tomato { grid-area: timer; }

#dash-logout {
  grid-area: logout;
  height: fit-content;
}

.dash-card {
  height: 400px;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 3px 4px 8px 3px rgba(0,0,0,0.2);
  transition: box-shadow 0.4s ease;
}

.dash-card:hover {
  box-shadow: 3px 4px 8px 3px rgba(255, 0, 0, 0.4);
  cursor: pointer;
}

.dash-card-header {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 12px;
}

.dash-icon {
  width: 60px;
  height: 60px;
  margin-left: 30px;
  object-fit: cover;
}

#dash-profile .dash-icon {
  width: 110px;
  height: 110px;
  border-radius: 50%;
}

.dash-card-header h2 {
  margin: 10px 0 4px;
}

#dash-profile p:last-of-type {
  color: #666666;
}

.dash-task {
  padding: 1px 20px;
  margin-bottom: 12px;
  border-radius: 20px;
  background-color: #b2ffc5;
}

.task-late {
  background-color: #FF6F61;
}