.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  width: 30%;
  height: 300px;
  width: 300px;
  padding: 1.5em;
  position: relative;
}
  
  /* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
  /* Add some padding inside the card container */
.figure {
  padding: 2px 16px;
}
img {
  border-radius: 5px 5px 0 0;
  width: 100%;
}
.cen {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Due colonne di uguale larghezza */
  gap: 20px; /* Spaziatura tra le card */
  justify-content: center; /* Centra il contenuto orizzontalmente */
  align-content: center; /* Centra verticalmente se necessario */
  padding: 20px;
  margin-left: 270px;
  margin-top: 100px;
}

.down{
  background-color: black;
  height: 50px;
  width: 100px;
  margin-left: 200px;
  margin-top: 10px;
}
.down:hover{
  background-color: red;
}