.ReactModal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Sfondo semitrasparente */
  z-index: 1000; /* Assicurati che copra tutti gli altri contenuti */
}


.event-modal {
    width: 50vw; /* Ho aumentato la larghezza sennò non ci stava */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fcfcfc;
    padding: 20px 0 50px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    z-index: 1100; /* Più alto dello sfondo */
  }
  
  .event-btn {
    padding: 12px 15px;
    border: none;
    border-radius: 10px;
    font-size: 0.95em;
  }
  
  .event-btn:hover {
    background-color: #a1ffff;
    cursor: pointer;
  }
  