/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  background-color: #fdfdfd;
  font-family: "Roboto", sans-serif;
}

@layer components {
  h2 {
    /* TODO: decidere un colore per i titoli */
    @apply font-bold;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 1s ease forwards;
}
