.register-container {
  width: 50vw;
  margin: auto;
}

.register-container h1 {
  text-align: center;
  font-size: 2.3em;
  margin-bottom: 60px;
}

.register-form{
  width: 20vw;
  height: 55vh;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.register-label {
  line-height: 2em;
  color: #333333;
}

.register-input {
  width: calc(100% - 26px);
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #aaaaaa;
}

.register-form button {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #888888;
  background-color: #e9e9e9;
  font-weight: 500;
}

.register-form button:hover {
  border: 1px solid #888888;
  background-color: #cacaca;
  cursor: pointer;
}
