.time-container {
  width: 100vw;
  background-color: #c8ffff;
  padding: 8px;
}

.time-display {
  width: max-content;
  margin: auto;
}

.time-btn {
  padding: 12px 15px;
  border: none;
  border-radius: 10px;
  background-color: transparent;
  font-size: 0.95em;
}

.time-btn:hover {
  background-color: #a1ffff;
  cursor: pointer;
}
