.time-container {
  width: 100vw;
  padding: 8px 0px;
  /* background-color: #c8ffff; */
  background-color: blue;
  display: flex;
  justify-content: center;
}

.time-btn {
  padding: 12px 15px;
  border: none;
  border-radius: 10px;
  background-color: transparent;
  font-size: 0.95em;
}

.time-btn:hover {
  background-color: #a1ffff;
  cursor: pointer;
}

.time-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.time-modal {
  width: 20vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  background-color: #fcfcfc;
  padding: 20px 0 50px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1001;
  text-align: center;
}

.time-modal input {
  margin-bottom: 30px;
  padding: 7px;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
}

.time-modal button {
  padding: 10px 20px;
  margin: 0 5px;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
}

.time-reset {
  background-color: #ececec;
}

.time-reset:hover {
  background-color: #d6d6d6;
}

.time-submit {
  background-color: #c8ffff;
}

.time-submit:hover {
  background-color: #a1ffff;
}
