.home-link {
    position: fixed; /* La posizione varia al variare della grandezza dello schermo, mantenendo la freccia nella posizione desiderata*/
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: transparent; /* Sfondo trasparente */
    color: #333; 
    text-align: center;
    line-height: 50px; /* Centrare verticalmente il testo */
    font-size: 24px;
    cursor: pointer; /* quando il cursore passa sopra la freccia diventa la "manina" */
    border: none; /* Rimuovere il bordo */
    outline: none; /* Rimuovere l'outline al focus */
    transition: transform 0.3s ease; /* Tempo dell'animazione */
}

.home-link:hover {
    transform: translateX(-5px); /* Animazione al passaggio del mouse */
}

.arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 0 25px 25px;
    border-color: transparent transparent transparent #333; /* Colore della freccia */
    transform: rotate(180deg); /* Rotazione per puntare verso sinistra */
}