/* Definizione del font "titolo" */
@font-face {
    font-family: titolo;
    src: url('./Qotho\ W01\ Dark\ Condensed.ttf');
}

/* Definizione del font "sottotitolo" */
@font-face {
    font-family: sottotitolo;
    src: url('./arial_narrow_7.ttf');
}

body {
    margin: 0;
}

/* Stile per il "div" principale della pagina */
.impaginazione {
    display: flex; /* ci permette di decidere come vengono sistemati i div all'interno */
    flex-direction: row; /* in riga */
    width: 100%;
    height: 100vh;
}

/* Stile per la sezione immagine */
.immagine {
    width: 30%;
    overflow: hidden; /*nasconde la parte di immagine che andrebbe al di fuori dello spazio*/
    max-height: 100%;
    background-image: url('https://img.pikbest.com/backgrounds/20190212/vector-cartoon-spring-day-forest-distant-mountain-landscape_1860700.jpg!sw800');
    color: rgb(69, 71, 71);
    font-size: 15vh;
    font-family: titolo;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Stile per il sottotitolo */
.sottotitolo {
    font-size: 4vh; 
    font-family: sottotitolo; 
    font-weight: lighter;
}

/* Stile per la sezione calendario */
.calendario {
    margin: 5vh;
    width: 70%;
    display: flex;
    flex-direction: column;
}

/* Stile per le righe all'interno del calendario */
.righe {
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* Stile per il nome del mese */
.mese {
    width: 50%;
    text-align: left;
    font-family: titolo;
    font-size: 8vh;
    color: rgb(69, 71, 71);
}

/* Stile per il numero del mese */
.numeromese {
    width: 50%;
    text-align: right;
    font-family: sottotitolo;
    font-size: 8vh;
    color: rgb(69, 71, 71);
}

/* Stile per i giorni del calendario */
.giorni {
    width: 14.285714%;
    text-align: center;
    border-radius: 5%;
    margin: 1vh;
    color: rgb(69, 71, 71);
    font-family: sottotitolo;
    font-size: 4vh;
    background-color: rgb(98, 154, 180);
}

/* Stile per i numeri del calendario */
.numeri {
    width: 14.285714%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    border: 2px solid rgb(98, 154, 180);
    color: rgb(69, 71, 71);
    font-family: sottotitolo;
    margin: 1vh;
    font-size: 5vh;
    background-color: white;
}

/* Stili interattivi per i numeri del calendario */
.numeri:hover, .numeri:focus {
    background-color: rgb(98, 154, 180);
}

.numeri:active {
    background-color: rgb(50, 90, 108);
    border: 2px solid rgb(50, 90, 108);
}

/* Nasconde i numeri nascosti */
.numeri[hidden] {
    pointer-events: none;
    border: none;
}

/* Stile per la sezione home */
.home {
    height: 100vh;
    width: 100%;
    background-image: url('./CalendarioHome.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: rgb(28, 29, 29);
    font-size: 20vh;
    font-family: titolo;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
}

/* Media query per schermi fino a 982px di larghezza */
@media (max-width: 982px) {
    /* Regola il margin del body */
    body {
        margin: 0;
    }

    /* Modifica la disposizione e stile dell'impaginazione */
    .impaginazione {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
    }

    /* Regola il font-size dei numeri nel calendario */
    .numeri {
        font-size: 3vh;
        height: 8vh;
    }

    /* Regola il font-size dei giorni nel calendario */
    .giorni {
        font-size: 3vh;
    }

    /* Regola il font-size del nome del mese */
    .mese {
        font-size: 6vh;
    }

    /* Regola il font-size del numero del mese */
    .numeromese {
        font-size: 6vh;
    }

    /* Modifica la larghezza e il font-size della sezione immagine */
    .immagine {
        width: 70%;
        font-size: 8vh;
        margin-top: 2vh;
        height: 30vh;
        background-repeat: no-repeat;
    }

    /* Regola il font-size del sottotitolo */
    .sottotitolo {
        margin-top: 0.5vh;
        font-size: 3vh;
    }

    /* Regola il margine della sezione calendario */
    .calendario {
        margin: 2vh;
    }
}

/* Media query per schermi fino a 590px di larghezza */
@media (max-width: 590px) {
    /* Regola il margin del body */
    body {
        margin: 0;
    }

    /* Modifica la disposizione e stile dell'impaginazione */
    .impaginazione {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
    }

    /* Regola il font-size dei numeri nel calendario */
    .numeri {
        font-size: 2vh;
        height: 6vh;
    }

    /* Regola il font-size dei giorni nel calendario */
    .giorni {
        font-size: 2vh;
    }

    /* Regola il font-size del nome del mese */
    .mese {
        font-size: 6vh;
    }

    /* Regola il font-size del numero del mese */
    .numeromese {
        font-size: 6vh;
    }

    /* Modifica la larghezza e il font-size della sezione immagine */
    .immagine {
        width: 70%;
        font-size: 8vh;
        margin-top: 2vh;
        height: 30vh;
        background-repeat: no-repeat;
    }

    /* Regola il font-size del sottotitolo */
    .sottotitolo {
        margin-top: 0.5vh;
        font-size: 3vh;
    }

    /* Regola il margine della sezione calendario */
    .calendario {
        margin: 2vh;
    }
}